*.ab1 filter=lfs diff=lfs merge=lfs -text
*.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin08.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin11.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin12.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin13.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin14.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin15.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin16.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin17.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin55.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin56.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin57.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin69.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin71.fastq filter=lfs diff=lfs merge=lfs -text
Sequences/raw_data/Cinek/bin79.fastq filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
