# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/


# Automatically "made" files
Analysis/PrimerA/id.map
Analysis/PrimerA/seqs.aln
Analysis/PrimerA/seqs.aln.full
Analysis/PrimerA/seqs.dnadist
Analysis/PrimerA/seqs.fa
Analysis/PrimerA/seqs.neighbor
Analysis/PrimerA/seqs.renum.fa
Analysis/PrimerA/seqs.tree
Analysis/PrimerB/id.map
Analysis/PrimerB/seqs.aln
Analysis/PrimerB/seqs.aln.full
Analysis/PrimerB/seqs.dnadist
Analysis/PrimerB/seqs.fa
Analysis/PrimerB/seqs.neighbor
Analysis/PrimerB/seqs.renum.fa
Analysis/PrimerB/seqs.tree
Analysis/PrimerC/id.map
Analysis/PrimerC/seqs.aln
Analysis/PrimerC/seqs.aln.full
Analysis/PrimerC/seqs.dnadist
Analysis/PrimerC/seqs.fa
Analysis/PrimerC/seqs.neighbor
Analysis/PrimerC/seqs.renum.fa
Analysis/PrimerC/seqs.tree

