iq-tree >= 1.6.3
blast+ >= 2.7.0
python3 >= 3.4.5
muscle >= 3.8.31
FastTreeDbl >= 2.1.10
mafft >= 7.310
clustalw >= 2.1
phred >= 0.071220.b
EMBOSS >= 6.5.7.0
samtools >= 1.5
htslib >= 1.5
cartopy >= 0.16
matplotlib >= 2.2.2
numpy >= 1.14.5